body {
  margin: 0;
  background: #fafafa;
  color: #040707;
}

a {
  text-decoration: none;
  color: #3a927d !important;
}

a:hover {
  text-decoration: underline;
}

#swagger-ui * {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  border-radius: 0;
}

#swagger-ui code {
  font-size: 14px;
  font-family: 'Consolas', 'monaco', monospace;
  padding: 0 6px;
  background: #FFF7DD;
  border: 1px solid #ffeeb8;
  border-radius: 2px;
  white-space: nowrap;
}

#swagger-ui h4 span:after,
#swagger-ui .main > a,
#swagger-ui .response-col_links {
  display: none;
}

#swagger-ui div,
#swagger-ui h2,
#swagger-ui h4,
#swagger-ui p,
#swagger-ui td,
#swagger-ui th,
#swagger-ui .info .title small pre {
  font-size: 16px;
  color: #040707;
}

#swagger-ui h2 {
  font-size: 24px;
  font-weight: 500;
}

#swagger-ui .info .title small pre {
  font-size: 14px;
}

#swagger-ui .model-box * {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  font-weight: 300;
}

#swagger-ui .opblock-body pre,
#swagger-ui .opblock-body pre span,
#swagger-ui .response-col_description__inner .renderedMarkdown,
#swagger-ui .response-col_description__inner .renderedMarkdown p {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  background: #333;
  color: #fafafa;
}

#swagger-ui select {
  font-family: 'Courier New', monospace;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#swagger-ui table {
  border-spacing: 0;
  padding: 0;
}

#swagger-ui .global-server-container {
  background: #eee;
}

#swagger-ui .info {
  margin: 0;
}

#swagger-ui .info > div,
#swagger-ui .wrapper {
  width: calc(100% - 64px);
  margin: 0 auto;
}

#swagger-ui .information-container {
  width: 100%;
  max-width: none;
  background: #faf7ef;
}

#swagger-ui .information-container .description {
  max-width: 1460px;
}

#swagger-ui .main {
  background: #96ebd7;
  text-align: center;
  margin: 0;
}

#swagger-ui .main span {
  display: block;
}

#swagger-ui .wrapper {
  padding: 0;
}

#swagger-ui .info a {
  font-size: 16px;
}

#swagger-ui .info > a,
#swagger-ui .info > div {
  display: none;
}

#swagger-ui .info > div.description {
  display: block;
  padding: 20px 0 32px;
}

#swagger-ui .info strong {
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
}

#swagger-ui .info th {
  text-align: left;
}

#swagger-ui .info td {
  padding: 0;
}

#swagger-ui .info .title {
  background: #96ebd7;
  text-align: center;
  padding: 48px 0 40px;
}

#swagger-ui .info .title img {
  display: block;
  width: 400px;
  margin: 0 auto 16px;
}

#swagger-ui .info .title small {
  font-weight: 500;
  margin: 24px 8px 0;
  padding: 8px;
  border-radius: 2px;
  background: #ffe128 !important;
}

/* models */

#swagger-ui section.models {
  background: #fff;
  border-color: #eee;
  overflow: hidden;
}

#swagger-ui section.models h4 {
  background: #333;
  border-color: #eee;
  color: #fff;
}

#swagger-ui section.models svg {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 4px solid #fff;
  border-radius: 50%;
}

#swagger-ui .model-container {
  background: #eee;
}

#swagger-ui div.model-box {
  width: 100%;
  background: #eee;
  overflow-x: auto;
}

#swagger-ui .model-toggle {
  top: 4px;
  margin: 0 8px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, .14), 3px 0 1px -2px rgba(0, 0, 0, .2), 1px 0 5px 0 rgba(0, 0, 0, .12);
}

#swagger-ui .model-toggle.collapsed {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#swagger-ui .model-toggle:before {
  color: #fff;
}

#swagger-ui .prop-type {
  margin-right: 8px;
}

/* endpoints */

#swagger-ui .opblock {
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#swagger-ui .opblock-summary {
  padding: 0;
}

#swagger-ui .opblock-summary a {
  color: #040707 !important;
  outline: none;
}

#swagger-ui .opblock-summary-description {
  text-align: right;
  padding-right: 8px;
}

#swagger-ui .opblock-tag {
  font-size: 24px;
  font-weight: 500;
  background: transparent;
  border: 0;
  cursor: default;
}

#swagger-ui .opblock-tag a {
  color: #040707 !important;
}

#swagger-ui .expand-operation {
  display: none;
}

/* delete endpoints */

#swagger-ui .opblock-delete {
  background: #fff;
  border-color: #cd021b;
}

#swagger-ui .opblock-delete .opblock-summary {
  background: #ffb7bf;
  border-color: #cd021b;
  transition: background .3s;
}

#swagger-ui .opblock-delete.is-open .opblock-summary {
  background: #cd021b;
}

#swagger-ui .opblock-delete.is-open a.nostyle,
#swagger-ui .opblock-delete.is-open .opblock-summary-description,
#swagger-ui .opblock-delete.is-open .opblock-summary-path {
  color: #fff !important;
}

#swagger-ui .opblock-delete .opblock-summary-method {
  background: #cd021b;
  color: #fafafa;
}

#swagger-ui .opblock-delete .opblock-section-header {
  background: #ffb7bf;
  border: 1px solid #cd021b;
  border-width: 1px 0;
}

/* get endpoints */

#swagger-ui .opblock-get {
  background: #fff;
  border-color: #96ebd7;
}

#swagger-ui .opblock-get .opblock-summary {
  background: #d5f7ef;
  border-color: #96ebd7;
  transition: background .3s;
}

#swagger-ui .opblock-get.is-open .opblock-summary {
  background: #96ebd7;
}

#swagger-ui .opblock-get .opblock-summary-method {
  background: #96ebd7;
  color: #040707;
}

#swagger-ui .opblock-get .opblock-section-header {
  background: #d5f7ef;
  border: 1px solid #96ebd7;
  border-width: 1px 0;
}

/* post endpoints */

#swagger-ui .opblock-post {
  background: #fff;
  border-color: #ffe128;
}

#swagger-ui .opblock-post .opblock-summary {
  background: #fff3a9;
  border-color: #ffe128;
  transition: background .3s;
}

#swagger-ui .opblock-post.is-open .opblock-summary {
  background: #ffe128;
}

#swagger-ui .opblock-post .opblock-summary-method {
  background: #ffe128;
  color: #040707;
}

#swagger-ui .opblock-post .opblock-section-header {
  background: #fff3a9;
  border: 1px solid #ffe128;
  border-width: 1px 0;
}

/* patch endpoints */

#swagger-ui .opblock-patch {
  background: #fff;
  border-color: #ed8c00;
}

#swagger-ui .opblock-patch .opblock-summary {
  background: #fadcb2;
  border-color: #ed8c00;
  transition: background .3s;
}

#swagger-ui .opblock-patch.is-open .opblock-summary {
  background: #ed8c00;
}

#swagger-ui .opblock-patch .opblock-summary-method {
  background: #ed8c00;
  color: #040707;
}

#swagger-ui .opblock-patch .opblock-section-header {
  background: #fadcb2;
  border: 1px solid #ed8c00;
  border-width: 1px 0;
}

/* all endpoints */

#swagger-ui .opblock a.nostyle span {
  font-family: 'Courier New', monospace;
}

#swagger-ui .opblock .opblock-summary-method {
  padding: 8px 16px;
  font-weight: 500;
  text-shadow: none;
}

#swagger-ui .opblock .opblock-section-header {
  min-height: 0;
  border-width: 1px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#swagger-ui .parameter__extension,
#swagger-ui .parameter__in,
#swagger-ui .parameter__type {
  font-weight: 400;
}

#swagger-ui .parameters-col_name,
#swagger-ui .response-col_status {
  width: 20%;
}

#swagger-ui .parameters-col_description,
#swagger-ui .response-col_description {
  width: 80%;
}

#topbar {
  display: inline-block;
  width: 100%;
  height: 64px;
  line-height: 64px;
  background: #333;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  z-index: 1;
}

#topbar img {
  width: 160px;
  margin-left: 16px;
  vertical-align: middle;
}

/* usability */

::-moz-selection {
  background: #ffe128;
  color: #040707;
  text-shadow: none;
}

::selection {
  background: #ffe128;
  color: #040707;
  text-shadow: none;
}

/* experimental */

#operations-tag-CombinedFiles:before,
#operations-tag-Hooks:before,
#operations-tag-Invitations:before,
#operations-tag-ServiceContracts:before,
#operations-tag-ServiceInsurances:before,
#operations-tag-SystemMessages:before,
#operations-tag-Users:before,
#operations-tag-Webhooks:before {
  content: "⚠";
  margin-right: 8px;
}

#swagger-ui .opblock-tag {
  position: relative;
}

#operations-tag-CombinedFiles:hover:after,
#operations-tag-Hooks:hover:after,
#operations-tag-Invitations:hover:after,
#operations-tag-ServiceContracts:hover:after,
#operations-tag-ServiceInsurances:hover:after,
#operations-tag-SystemMessages:hover:after,
#operations-tag-Users:hover:after,
#operations-tag-Webhooks:hover:after {
  content: "This is an experimental endpoint";
  position: absolute;
  bottom: -5px;
  left: 0;
  background: #f00;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Hide endpoints */
#operations-tag-CarrierContracts,
#operations-CarrierContracts-get_carrier_contracts,
#operations-CarrierContracts-post_carrier_contracts,
#operations-CarrierContracts-get_carrier_contracts__carrier_contract_id_,
#operations-CarrierContracts-patch_carrier_contracts__carrier_contract_id_,
#operations-CarrierContracts-delete_carrier_contracts__carrier_contract_id_,
#operations-tag-CombinedFiles,
#operations-CombinedFiles-get_combined_files,
#operations-CombinedFiles-post_combined_files,
#operations-CombinedFiles-get_combined_files__combined_file_id_,
#operations-tag-Invitations,
#operations-Invitations-get_invitations,
#operations-Invitations-post_invitations,
#operations-Invitations-get_invitations__invitation_id_,
#operations-tag-SystemMessages,
#operations-SystemMessages-get_system_messages,
#operations-SystemMessages-post_system_messages,
#operations-SystemMessages-get_system_messages__system_message_id_,
#operations-SystemMessages-patch_system_messages__system_message_id_,
#operations-SystemMessages-delete_system_messages__system_message_id_,
#operations-tag-PasswordResets,
#operations-PasswordResets-post_password_resets,
#operations-PasswordResets-patch_password_resets__password_reset_id_,
#model-MinimalPasswordReset,
#model-CarrierContract,
#model-CarrierContractRelationship,
#model-CombinedFile,
#model-Invitation,
#model-SystemMessage,
label[for='invitations.show-clientCredentials-checkbox-OAuth2'],
label[for='invitations.manage-clientCredentials-checkbox-OAuth2'],
label[for='system-messages.show-clientCredentials-checkbox-OAuth2'],
label[for='system-messages.manage-clientCredentials-checkbox-OAuth2']
{
  display: none !important;
}

/* Hide auth components */
.auth-container{
  margin: -40px -20px !important;
}
.auth-container .auth-btn-wrapper,
.auth-container .scope-def,
.auth-container .checkbox .item,
.auth-container .scope-def > div > div > h4,
.auth-container > div > div > div > h4,
.auth-container > div > div > div > p,
.auth-container > div > div > div > .wrapper
{
  display: none !important;
}

#swagger-ui .scheme-container {
  margin: 0;
  padding: 0;
  background: #faf7ef;
  box-shadow: none;
}
#swagger-ui .scheme-container .schemes {
  position: relative;
}
#swagger-ui .scheme-container .auth-wrapper {
  float: right;
  margin-top: -96px;
}
