body {
  margin: 0;
  padding: 0;
}

img[alt=logo] {
  width: 220px !important;
  margin: 20px 0 !important;
}

/* avoid long regex to overlap the right area */
.api-content > div > div:first-child > div:first-child {
  overflow-x: auto;
}

.experimental h1:after,
.experimental h2:after {
  content: " ⚠";
}
